<a href="{{ app.request.headers.get('referer')|default(path('dashboard.index')) }}" class="show-overlay btn btn-outline-secondary">
    <i class="fas fa-arrow-left" aria-hidden="true"></i>
    <span class="btn-text">{% trans from 'messages' %}action.back{% endtrans %}</span>
</a>
