<div style="display: none;" class="infinite-scroll-status">
    <p style="display: none;" class="infinite-scroll-request"><i class="fas fa-spinner fa-spin"></i> {% trans from 'messages' %}search.loading{% endtrans %}</p>
</div>
