<div style="display: none;" class="infinite-scroll-status mt-3 ml-2">
    <p style="display: none;" class="infinite-scroll-request"><i class="fas fa-spinner fa-spin"></i> {% trans from 'messages' %}search.loading{% endtrans %}</p>
    <p style="display: none;" class="infinite-scroll-last"><i class="fas fa-check-double text-primary"></i> {% trans from 'messages' %}search.last{% endtrans %}</p>
    <p style="display: none;" class="infinite-scroll-error"><i class="fas fa-filter"></i> {% trans from 'messages' %}search.empty{% endtrans %}</p>
</div>
