# Archivos de log
########################
zc/log/*.log

# Archivos cargados de prueba
########################
zc/archivos/*.ods
zc/archivos/*.xls
zc/archivos/*.xlsx

# Archivos de configuracion conexion a base de datos
########################
www/application/config/database.php
www/application/config/pagination.php

# Archivos de configuracion para formularios
########################
zc/xml/*.xml

# Archivos publicos generados por la aplicaion
########################
www/publico/*