parameters:
	inferPrivatePropertyTypeFromConstructor: true
	excludes_analyse:
		- '%currentWorkingDirectory%/src/tmp/*'
	ignoreErrors:
		- '#Call to method [a-zA-Z0-9\\_]+\(\) on an unknown class Symfony\\Component\\HttpFoundation\\UploadedFile\.#'