parameters:
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - '%currentWorkingDirectory%/src/tmp/*'
    ignoreErrors:
        # False positive
        - '#Property (.*) type has no value type specified in iterable type (.*)\.#'
        - '#Method (.*) has parameter (.*) with no value type specified in iterable type (.*)\.#'
        - '#Method (.*) return type has no value type specified in iterable type (.*)\.#'