input.parsley-success,
select.parsley-success,
textarea.parsley-success{
    border: 2px solid #559B55;
}
input.parsley-success:focus,
select.parsley-success:focus,
textarea.parsley-success:focus {
    border: 2px solid green;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border: 2px solid #F2DEDE;
}
input.parsley-error:focus,
select.parsley-error:focus,
textarea.parsley-error:focus {
    border: 2px solid red;
}

.parsley-errors-list {
    margin: 2px 0 3px 0;
    padding: 0;
    color: red;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}