{% extends 'form/layout.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
    </div>
</div>
{% endblock %}
