APP_ENV=dev
APP_SECRET=67d829bf61dc5f87a73fd814e2c9f629

# Database see https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
DATABASE_URL=sqlite:///%kernel.project_dir%/data/database.sqlite
