<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">
                    {% trans from 'messages' %}action.delete{% endtrans %}
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    {% trans from 'messages' %}message.delete{% endtrans %}
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default float-left" id="btnNo" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <span class="btn-text">{% trans from 'messages' %}action.cancel{% endtrans %}</span>
                </button>
                <button type="button" class="btn btn-danger show-overlay" id="btnYes" data-dismiss="modal">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="btn-text">{% trans from 'messages' %}action.delete{% endtrans %}</span>
                </button>
            </div>
        </div>
    </div>
</div>
